middleware/node_modules
smart-meter/node_modules
smart-meter-reader/node_modules
# ap-energy-web/node_modules
.env
coverage
coverage.json
typechain
# typechain-types

# Hardhat files
cache
# artifacts

